.characters__card {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width:305px;
  margin: 20px;
  border:2px dashed #ccc;
  list-style-type: none;
}

.card__info {
  padding-left: 20px;
  margin-bottom: 20px;
}

.card:hover {
  cursor: pointer;
}